 {{#if user}}
     <div>
         <p>Hello, {{user.firstName}}!</p>
         <a href="/users/history/{{user.userId}}" class="link-styles">My history</a><br/>
         <a href="/projects/new" class="link-styles">Start a campaign</a><br/>
         <a href="/users/logout" class="link-styles">Log out</a>
     </div>
 {{else}}
     <div id = 'login-container'>
         <a href="/users/signin" class="link-styles">Sign In</a><br/>
         <a href="/users/register" class="link-styles">Register</a>
     </div>
 {{/if}}
<section>
    <h1>Recent Projects</h1>
    {{#each projects}}
        <article class="projects">
            <h2><a href="/projects/{{_id}}">{{title}}</a></h2>
            <p>Author: {{creator}}</p>
            <p>${{collected}} raised of ${{pledgeGoal}} goal</p>
        </article>
    {{/each}}
</section>