 {{#if hasLogin}}
 <div>
   <p>User:{{user.firstName}}</p>
   <p id = 'user-id'>{{user._id}}</p>
   <a href="/projects">Log Out</a>
 </div>
 {{else}}
    <div id = 'login-container'>
    <a href="/users/signin">Sign In</a><br/>
    <a href="/users/register">Register</a>
    </div>
 {{/if}}
<section>
    <h1>Projects</h1>
    {{#each projects}}
    <article class="projects">
        <h2><a href="/projects/{{_id}}">{{title}}</a></h2>
        <p>Author: {{creator}}</p>
        <p>Date: {{date}}</p>
    </article>
  {{/each}}
    <a href="/projects/new">Add a Project</a><br/>
</section>