<h1>My History</h1>
{{#if hasProjects}}
    <section>
        <h1>My Projects</h1>
        {{#each projects}}
            <article class="projects">
                <h2><a href="/projects/{{_id}}">{{title}}</a></h2>
                <p>Raised ${{collected}} of ${{pledgeGoal}} goal</p>
                <p>Created {{date}}</p>
            </article>
            <a href="/projects/edit/{{_id}}">Edit Project</a>
        {{/each}}
    </section>
{{else}}
    <h2>You have no projects!</h2>
{{/if}}
{{#if hasDonated}}
    <section>
        <h1>My Donations</h1>
        {{#each donated}}
            <article class="projects">
                <h2><a href="/projects/{{projectId}}">{{projectTitle}}</a></h2>
                <p>{{projectCreator}} started this fundraiser</p>
                <p>My donation: ${{amount}}</p>
            </article>
        {{/each}}
    </section>
{{else}}
    <h2>You didn't make any donations!</h2>
{{/if}}
<a href="/projects">Back to All Projects</a>
