{{#if hasProjects}}
    <section>
        <h1>My Projects</h1>
        {{#each projects}}
            <article class="projects">
                <h2><a href="/projects/{{_id}}">{{title}}</a></h2>
                <p>Author: {{creator}}</p>
                <p>Date: {{date}}</p>
            </article>
            <a href="/projects/edit/{{_id}}">Edit Project</a>
        {{/each}}
    </section>
{{else}}
    <h2>You have no projects!</h2>
{{/if}}
<a href="/projects">Back to All Projects</a>
