<div>
    <h2>Search</h2>
    <form action="/projects/searchResult" method="POST" class="search-form" id ="search-project-form">
        <label for="category">By category:</label>
        <select id="category" name="category">
        <option value="none" selected></option>
        <option value="medical">Medical</option>
        <option value="education">Education</option>
        <option value="animals">Animals</option>
        <option value="business">Business</option>
        <option value="community">Community</option>
        <option value="sports">Sports</option>
        <option value="travel">Travel</option>
        <option value="volunteer">Volunteer</option>
        </select><br>
        <label for="from">By pledge goal:&nbsp;&nbsp;From:</label>
        <input type="number" name="from_pledged" id="from-pledged" value="{{searchProjectData.from_pledged}}" class="full-width-input"/>
        <label for="to-pledged">To:</label>
        <input type="number" name="to_pledged" id="to-pledged" value="{{searchProjectData.to_pledged}}" class="full-width-input"/><br>
        <label for="from-collected">By collected amount:&nbsp;&nbsp;From:</label>
        <input type="number" name="from_collected" id="from-collected" value="{{searchProjectData.from_collected}}" class="full-width-input"/>
        <label for="to-collected">To:</label>
        <input type="number" name="to_collected" id="to-collected" value="{{searchProjectData.to_collected}}" class="full-width-input"/><br>
        <button type="submit">Search</button><br>
    </form>
</div>
<ul class="error-list">
    <li id="from-pledged>to-pledged" hidden>Pledge goal lower bound can't be greater than its upper bound</li>
    <li id="from-collected>to-collected" hidden>Collected amount lower bound can't be greater than its upper bound</li>
    <li id="invalid-from-pledged" hidden>Please enter a positive number in pledge goal lower bound</li>
    <li id="invalid-to-pledged" hidden>Please enter a positive number in pledge goal upper bound</li>
    <li id="invalid-from-collected" hidden>Please enter a positive number in collected amount lower bound</li>
    <li id="invalid-to-collected" hidden>Please enter a positive number in collected amount upper bound</li>
</ul>
{{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
 {{/if}}
<a href="/projects">Back to All Projects</a>