<article class="project">
  <h1>{{ project.title}}</h1>
  <p>Author:</p>
  <p>{{project.creator }}</p>
  <p>Create on:</p>
  <p>{{project.date}}</p>
  <p>Category:</p>
  <p>{{project.category}}</p>
  <p>PledgeGoal:</p>
  <p>{{project.pledgeGoal}}</p>
  <p>Collected:</p>
  <p>{{project.collected}}</p>
  <p>Discription:</p>
  <p>{{project.description}}</p>
  <a href="/projects">Back to All Projectss</a>
</article>