<p>Register</p>
<div>
    <form action="/users" method="POST" id="register-form">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="{{user.first_name}}" class="full-width-input"/><br/>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="{{user.last_name}}" class="full-width-input"/><br/>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{user.email}}" class="full-width-input"/><br/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="{{user.password}}" class="full-width-input"/><br/>
        <label for="password_confirm">Confirm Password:</label>
        <input type="password" name="password_confirm" id="password_confirm" value="{{user.password_confirm}}" class="full-width-input"/><br/>
        <label for="city">City:</label>
        <input type="text" name="city" id="city" value="{{user.city}}" class="full-width-input"/><br/>
        <label for="state">State:</label>
        <input type="text" name="state" id="state" value="{{user.state}}" class="full-width-input"/><br/>
        <button type="submit">Create An Account</button>
    </form>
    <ul id="error" class="error-list">
        <li id="no-first-name" hidden>Please enter your first name</li>
        <li id="no-last-name" hidden>Please enter your last name</li>
        <li id="no-email" hidden>Please enter your email</li>
        <li id="no-password" hidden>Please enter your password</li>
        <li id="no-password-confirmation" hidden>Please enter your password confirmation</li>
        <li id="passwords-mismatch" hidden>Passwords don't match</li>
        <li id="no-city" hidden>Please enter your city</li>
        <li id="no-state" hidden>Please enter your state</li>
    </ul>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
    <li>
        {{this}}
    </li>
        {{/each}}
    </ul>
    {{/if}}
</div>